<div class="form-group">
		<label for="{{id}}" class="control-label">{{label}}</label>
		<span class="cell">
			<input type="{{#if type}}{{type}}{{else}}text{{/if}}" class="form-control" name="{{id}}" id="{{id}}">
		</span>
</div>