<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">
      &times;
    </span>
  </button>
  <h1 class="modal-title">{{ event.title }}</h1>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <p>Starting at: {{event.start}}</p>
    </div>
    <div class="col-md-6">
      <p>Ending at: {{event.end}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Categoria: {{event.category}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Location: {{event.location}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Address: {{event.address}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Description:</p>
      {{{event.description}}}
    </div>
  </div>
</div>
<div class="modal-footer">
</div>
