{{> header}}
{{> menu}}
<div class="modal fade" id="message-display">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
	    <div class="row">
		  <div class="col-md-12 body-read"></div>
		</div>
	    <div class="row">
		  <div class="col-md-10 col-md-offset-1 body-form" style="border: solid; display: none;">
		  </div>
		</div>
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="pageWrap background-primary">
  <div class="container">
    <!-- <div class="row lmt"> -->
      <div class="col-md-12 text-center">
        <h1>Trocas pendentes</h1>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="color: black;">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSent">
              <h4 class="panel-title">
                <a style="color: black;" role="button" data-toggle="collapse" href="#transactionsSent" aria-expanded="true" aria-controls="collapseSent">
                  {{messages.sent_requests}}
                </a>
              </h4>
            </div>
            {{#if transactionsBy}}
            <div id="transactionsSent" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSent">
              <div class="panel-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>{{../messages.common_name}}</th>
                          <th>{{../messages.date}}</th>
                          <th>{{../messages.location}}</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                      {{#each transactionsBy}}
                        <tr data-seed_id="{{id}}">
                          <td>{{common_name}}</td>
                          <td>{{updated_at}}</td>
                          <td>{{place_name}}</td>
                          <td><button type="button" class="btn btn-sm btn-primary">{{../messages.message}}</button></td>
                          <td>
                          {{#if accepted.0}}
                            <button type="button" class="btn btn-sm btn-danger">{{../../messages.cancelled}}</button>
                          {{/if}}
                          {{#if accepted.1}}
                            <button type="button" class="btn btn-sm btn-success">{{../../messages.confirm}}</button>
                          {{/if}}
                          {{#if accepted.2}}
                            <button type="button" class="btn btn-sm btn-warning">{{../../messages.pending}}</button>
                          {{/if}}
                          </td>
                        </tr>
                      {{/each}}
                      </tbody>
                    </table>
              </div>
            </div>
            {{/if}}
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingReceived">
              <h4 class="panel-title">
                <a  style="color: black;" class="collapsed" role="button" data-toggle="collapse" href="#transactionsReceived" aria-expanded="false" aria-controls="transactionsReceived">
                  {{messages.received_requests}}
                </a>
              </h4>
            </div>
            {{#unless transactionsTo.empty}}
            <div id="transactionsReceived" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingReceived">
              <div class="panel-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>{{messages.common_name}}</th>
                          <th>{{messages.date}}</th>
                          <th>{{messages.location}}</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                      {{#each transactionsTo}}
                        <tr data-seed_id="{{id}}">
                          <td>{{common_name}}</td>
                          <td>{{updated_at}}</td>
                          <td>{{place_name}}</td>
                          <td><button type="button" class="btn btn-sm btn-primary">{{../messages.message}}</button></td>
                          <td>
                            {{#if accepted.0}}
                            <button type="button" class="btn btn-sm btn-danger">{{../../messages.cancelled}}</button>
                            {{/if}}
                            {{#if accepted.1}}
                            <button type="button" class="btn btn-sm btn-success">{{../../messages.accepted}}</button>
                            {{/if}}
                            {{#if accepted.2}}
                            <button type="button" class="btn btn-sm btn-warning">{{../../messages.confirmed}}</button>
                            {{/if}}
                            </td>
                        </tr>
                      {{/each}}
                      </tbody>
                    </table>
              </div>
            </div>
            {{/unless}}
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>

{{>scripts}}
<script src="/js/laravel-bootstrap-modal-form.js"></script>
<script>
  $('.table').on('click', 'tbody tr', function () {
    $('.body-form').empty();
	var message_id = $(this).data('message_id');
    var can_reply = $(this).data('reply');
    $.get("/seedbank/message/get/" + message_id, function (data) {
		if (! data){
			return false;
		}
		$('.modal-title').text(data.subject).data('message_id', data.id);
		$('.body-read').html('<p>' + data.body + '</p>');
		if ( can_reply == 1){
		$('.modal-footer')
		    .html('<button class="btn btn-default col-md-12" style="height: 50px;">\
			  {{messages.replymessage}}XXResponderXX</button>');
		  } else {
		  }
		$('.modal').modal('show');
		$(this).css('font-weight', '');

	});
}).on('mouseover', 'tbody tr', function () {
	$(this).addClass('active');
}).on('mouseout', 'tbody tr', function () {
    $(this).removeClass('active');
});
$('.body-form').on('click', '#cancel', function(){
  $('.body-form').empty().hide();
        $('.modal').modal('hide');
});
$('.modal-footer').on('click', 'button', function(){
		$('.modal-body .body-form').html('\
			<form class="form-horizontal bootstrap-modal-form" method="POST" action="/seedbank/message/reply">\
				<input type="hidden" name="message_id" value="' + $('.modal-title').data('message_id') + '"/>\
	  			<div class="form-group">\
					<span class="cell">\
						<input class="form-control" placeholder="Assunto" type="text" name="subject"/>\
					</span>\
	  			</div>\
	  			<div class="form-group">\
					<span class="cell">\
						<textarea style="resize:none; overflow:hidden;" class="form-control" rows="8" autocomplete="off" placeholder="Escreve uma mensagem" name="body"></textarea>\
					</span>\
	  			</div>\
				<div class="form-group lmt">\
					<div class="col-md-12 text-center">\
						<button type="button" class="btn btn-danger btn-md" id="cancel">\
							Cancelar\
						</button>\
						<button type="submit" class="btn btn-primary btn-md">\
							Enviar\
						</button>\
					</div>\
				</div>\
			</form>');
			$('.body-form').show();
  
});
/**

**/
/*
$('#message-display').on('click', '#submit', function (e) {
    var formdata = $('form').serialize();
	console.log(formdata);
    $.post("/seedbank/message/reply", formdata, function (data) {
		if (! data){
			return false;
		} else {
		    $('#message_display').modal('hide');
		}


	},
	'json');
});*/
</script>
{{>footer}}
