{{ > mainapp_start }}
<div class="row">
  <h1>Forum</h1>
</div>
<div class="row content">
  <table class="table" id="forum">
    <tbody>
      {{#each posts}}
      <tr data-forum_id="{{id}}">
        <td>{{thread.title}}</td>
        <td>{{author.name}}</td>
        <td>{{updated_at}}</td>
      </tr>
      {{else}}
      <tr>
        <h4>No content</h4>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{ > mainapp_end }}
{{ > footer }}
