{{> header}}
{{> menu}}
<div class="modal fade" id="info_modal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="pageWrap background-primary">
  <div class="container">
    <!-- <div class="row lmt"> -->
    <div class="col-md-4">
      <h1>{{messages.calendarTitle}}</h1>
      <div class="well" style="color: black !important">
        {{#if calendarNow}}
        <h4>{{ messages.eventsHappeningNow }}</h4>
        <ul class="listEvents" style="color: black !important; list-style-type: none;">
          {{#each calendarNow}}
          <li data-id="{{id}}">{{title}} <span style="float: right;" class="badge">{{{formatDate end ../langString}}}</span></li>
          {{/each}}
        </ul>
        {{else}}
        <h4>{{ messages.noEventsHappeningNow }}</h4>
        {{/if}}
        {{#if calendarNext}}
        <h4>{{ messages.eventsNextWeek }}</h4>
        <ul class="listEvents" style="color: black !important; list-style-type: none;">
          {{#each calendarNext}}
          <li data-id="{{id}}">{{title}} <span style="float: right;" class="badge">{{{formatDate start ../langString}}}</span></li>
          {{/each}}
        </ul>
        {{else}}
        <h4>{{ messages.noEventsNextWeek }}</h4>
        {{/if}}
      </div>
    </div>
    <div class="col-md-4 text-center">
      <h1>{{messages.latestAdditions}}</h1>
      <table class="table">
        <thead>
          <tr>
            <th>{{messages.common_name}}</th>
            <th>{{messages.username}}</th>
            <!-- <th>Disponível</th>
              <th>Pública</th> -->
          </tr>
        </thead>
        <tbody>
          {{#each seeds}}
          <tr data-user_id="{{user_id}}" data-seed_id="{{id}}">
            <td>{{common_name}}</td>
            <td>{{name}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <h1>{{messages.latestMessages}}
        {{#if newMessagesCount}}<span class="badge">
          {{newMessagesCount}}
        </span>{{/if}}
      </h1>
      <table class="table">
        <thead>
          <tr>
            <th>{{messages.subject}}</th>
            <th>{{messages.date}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each threads}}
          <tr data-message_id="{{id}}" {{#if unread}}style="font-weight: bold;"{{/if}}>
            <td>{{subject}}</td>
            <td>{{{formatDate updated_at ../langString}}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <!-- </div> -->
  </div>
</div>

{{>scripts}}
<script>
$('tbody tr').on('click', function () {
  //window.open('/seedbank/register/' + $(this).data('seed_id'), '_self');
  var seed_id = $(this).data('seed_id');
  $.get("/seedbank/seedm/" + seed_id, function (data) {
    if (data.length == 0){
      return false;
    }
    $('#info_modal .modal-content').empty();
    $('#info_modal .modal-content').append(data);

    $('#info_modal').modal('show');
  });
}).mouseover(function () {
  $(this).addClass('active');
}).mouseout(function () {
  $(this).removeClass('active');
});

$('#info_modal').on('click', '.modal-footer .footer-left button', function(){
  var seed_id = $('#seed_info .modal-title').data("seed_id");
  window.open('/seedbank/register/' + seed_id, '_self');
});

$('.listEvents').on('click', 'li', function (e) {
  $.get('/events/get/' + $(this).data('id'), function (data) {
    if (! data ) { return false;}
    $(".modal-content").html(data);
    $('#info_modal').modal('show');
  });
});


/*$('#new_seed').on('click', function () {
  window.open('/seedbank/register', '_self');
  return false;
  });
 */
</script>
{{>footer}}
