<header class="nav navbar-static-top" role="banner">
  <div class="container">
    <nav class="collapse navbar-collapse">
      <ul class="nav nav-pills navbar-nav navbar-right">
        <li role="presentation" {{#if active.home}}class="active"{{/if}}><a href="/seedbank">{{menu.home}}</a></li>
        <li role="presentation" {{#if active.myseeds}}class="active"{{/if}}><a href="/seedbank/myseeds">{{menu.myseeds}}</a></li>
        <li role="presentation" {{#if active.exchanges}}class="active"{{/if}}><a href="/seedbank/exchanges">{{menu.exchanges}}</a></li>
        <li role="presentation" {{#if active.search}}class="active"{{/if}}><a href="/seedbank/search">{{menu.search}}</a></li>
        <li class="dropdown{{#if active.profile}} active{{/if}}" role="presentation">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ username }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/seedbank/preferences">{{menu.profile}}</a></li>
            {{!-- <li><a href="#">{{menu.messages}}{{!--</a></li> --}}
            <li role="separator" class="divider"></li>
            <li role="presentation"><a href="/en/auth/logout">{{menu.logout}}</a></li>
          </ul> 
        </li>
      </ul>
      <!--<ul class="nav nav-pills navbar-nav">
      </ul>-->
    </nav>
  </div>
</header>
