{{> header}}
{{> menu}}
<div class="modal fade" id="message-display">
  <div class="modal-dialog">
    <div class="modal-content">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="pageWrap background-primary">
  <div class="container">
    <!-- <div class="row lmt"> -->

    <div class="col-md-6">
      <h1>{{messages.myContacts}}myContacts
        <button id="newContact" type="button" class="btn btn-default">{{ messages.addContact }}addContact</button>
      </h1>
      <div class="addContact" style="display:none">
      </div>
      <ul id="contactList">
        {{#each contacts}}
        <li>{{ name }}</li>
        {{/each}}
      </ul>
    </div>
    <div class="col-md-6">
      <h1>{{messages.latestMessages}}
        <span class="badge">{{unreadmessages}}</span>
      </h1>
      <button id="newMessage" type="button" class="btn btn-default">New message</button>

      <table class="table">
        <thead>
          <tr>
            <th>{{messages.subject}}</th>
            <th>{{messages.date}}</th>
            <th>{{messages.unread}}/{{messages.read}}</th>
          </tr>
        </thead>
        <tbody>
          {{#if threads}}
          {{#each threads}}
          <tr data-thread_id="{{id}}" class="bootstrap-modal-form-open" {{#if enabled}}data-reply="1" style="font-weight: bold;"{{/if}}>
            <td>{{subject}}</td>
            <td>{{created_at}}</td>
            <td style="text-align: center;">
              {{#if sent}} {{../messages.sent}}XEnviadaX 
              {{/if}}
            </td>
          </tr>
          {{/each}}
          {{else}}
          <p>No threads</p>
          {{/if}}
        </tbody>
      </table>
    </div>
    <!-- </div> -->
  </div>
</div>

{{>scripts}}
<script src="/js/laravel-bootstrap-modal-form.js"></script>
<script>
$('#newMessage').on('click', function (e) {
  //alert('button');
  $('.modal-content').html('<img src="/js/tinymce/skins/lightgray/img/loader.gif"/>');
  $('.modal').modal('show');
  //alert();
  $.get('/messages/create', function (data) {
    $('.modal-content').html(data);
  });
});

$('#newContact').on('click', function (e) {
  $('.addContact').html('<input class="input" name="newContact" autocomplete="off" style="color:black;"/>\
      <button type="button" class="btn btn-primary">Add</button>').show();
  $('.addContact button').on('click', function(e) {
    var newContact = $('.addContact input').val();
    $('.addContact').empty().hide();
    if (! newContact ) { return false; }
    var fd = { 'newContact': newContact};
    $.post('/api/contacts/add', fd, function (data) {
      if ( data.id ) {
        $('#contactList').prepend('<li>'+data.name+'</li>');
      }

    });
  });

});

$('.table').on('click', 'tbody tr', function () {
  $('.modal-content').html('<img src="/js/tinymce/skins/lightgray/img/loader.gif"/>');
  $('.modal').modal('show');
  var threadId = $(this).data('thread_id');
  console.log($(this).data());
  $.get('/messages/' + threadId, function (data) {
    $('.modal-content').html(data);
  });
}).on('mouseover', 'tbody tr', function () {
  $(this).addClass('active');
}).on('mouseout', 'tbody tr', function () {
  $(this).removeClass('active');
});




</script>
{{>footer}}
