<h2>{{messages.seed}}s</h2>
  <table class="table" id="seeds">
    <!-- All seeds -->
    <thead>
      <tr>
        <h4>{{messages.recentlyAdded}}recentlyAdded</h4>
      </tr>
    </thead>
    <tbody>
      {{#each seeds}}
      <tr data-seed_id="{{id}}">
        <td>{{common_name}}</td>
        <td>loc</td>
        <td>user</td>
      </tr>
      {{else}}
      <tr>
        <h4>{{messages.noContent}}noContent</h4>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <table class="table" id="mySeeds">
    <!-- My seeds -->
    <thead>
      <tr>
        <h4>{{messages.myseedBank}}myseedBank</h4>
      </tr>
    </thead>
    <tbody>
      {{#each myseeds}}
      <tr data-seed_id="{{id}}">
        <td>{{common_name}}</td>
        <td>{{updated_at}}</td>
      </tr>
      {{else}}
      <tr>
        <h4>{{messages.noContent}}noContent</h4>
      </tr>
      {{/each}}
    </tbody>
  </table>
