<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">
      &times;
    </span>
  </button>
  <h1 class="modal-title">{{ modalTitle }}</h1>
</div>
<form class="form-horizontal" role="form" method="POST" action="/messages">
  <div class="modal-body">
    <input type="hidden" name="_token" value="{{ csrfToken }}">
    <input type="hidden" name="thread_id" value="{{ thread.id }}">

    <div class="form-group" rel="tooltip" data-placement="bottom" title="{{ messages.messageRecipientsHelp }}">
      <div class="col-md-3">
        <label class="control-label">{{ messages.messageRecipients }}</label>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control input-control ac_token" placeholder="{{ messages.messageRecipients }}" name="recipients" value="{{ message.recipientsNames }}" autocomplete="off">
      </div>
    </div>

    <div class="form-group" rel="tooltip" data-placement="bottom" title="{{ messages.threadSubjectHelp }}">
      <div class="col-md-3">
        <label class="control-label">{{ messages.threadSubject }}</label>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="{{ messages.threadSubject }}" name="subject" value="{{ thread.subject }}" autocomplete="off">
      </div>
    </div>

    <div class="form-group" rel="tooltip" data-placement="bottom" title="{{ messages.messageBodyHelp }}">
      <span class="cell">
        <textarea style="resize:none; overflow:hidden;" class="form-control" rows="5" autocomplete="off" placeholder="{{messages.messageBody}}" name="body">{{ message.body }}</textarea>
      </span>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-group lmt">
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
          <span aria-hidden="true">
            {{ messages.cancel }}
          </span>
        </button>
        <button type="submit" class="btn btn-primary btn-lg">
          {{ messages.messageSend }}
        </button>
      </div>
    </div>
  </div>
</form>
{{!-- <script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/js/event_scripts.js"></script> --}}
<script type="text/javascript" src="/js/bootstrap-tokenfield.min.js"></script>

<script>
/*$('form').on('submit', function(e) {
	e.preventDefault();
	//$.post($("form").attr('action'), data) ....
	//$("#mycalendar").fullCalendar( 'addEventSource', source ) ...
	return false();
});*/
var contacts = [
{{#each contacts}} { value: {{ id }}, label: '{{ name }}',  type: 'g', id:{{ id }} }, {{/each}}
               ];

$('.ac_token').tokenfield({
  autocomplete: {delay: 300, //minLength: 2,
    /*source: function (request, response) {
      var this_id = $(this.element).siblings('.ac_token').attr('id');
      //console.log($(this.element).siblings('.ac_token').val());
      var formdata = [
        {name: "csrfmiddlewaretoken", value: "{{ csrf_token }}"},
        {name: this_id , value: request.term},
      ];
      $.post("{% url 'autocomplete' %}", formdata, function (data) {
              response(data);
      }, 'json')
    },*/
    source: contacts,
    appendTo: "form",
    /*select: function (e, ui) {
      e.preventDefault();
    },*/
    focus: function (e, ui) {
      e.preventDefault();
      $(e.relatedTarget).val(ui.item.label);
    },
  },
    beautify: false,
  delimiter: ';',
}).on('tokenfield:createtoken', function (e) {
  if (!(e.attrs.id)) {
    $(this).data('bs.tokenfield').$input.val('');
    e.preventDefault();
  }
});

</script>
