{{> formErrors}}
{{> modal_enciclpreview }}
<form class="form-horizontal" role="form" enctype="multipart/form-data" method="POST" action="/seedbank/register" {{#if preview}}style="display: none;"{{/if}}>
  <input type="hidden" name="_token" value="{{ csrfToken }}">
  <input type="hidden" name="id" value="{{ oldInput.id }}">
  <input type="hidden" name="_save" value="1">
  <div class="row">
    {{#with oldInput }}
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label">{{lang 'seedbank::forms.common_name'}}*</label>
        <span class="cell">
          <input type="text" class="form-control" aria-describedby="helpBlock" placeholder="" name="common_name" value="{{ common_name }}" autocomplete="off">
          <span class="help-block"></span>
        </span>
      </div>
      <div class="form-group">
        <label class="control-label">{{lang 'seedbank::forms.latin_name'}}</label>
        <span class="cell" style="width:50%;">
          <input type="text" class="form-control" aria-describedby="helpBlock" placeholder="" name="latin_name" value="{{ latin_name }}" autocomplete="off">
          <span class="help-block"></span>
        </span>
        <label class="control-label">{{lang 'seedbank::forms.family'}}</label>
        <span class="cell" style="width:50%;">
          <input type="text" class="form-control" aria-describedby="helpBlock" placeholder="" name="family" value="{{ family }}" autocomplete="off">
          <span class="help-block"></span>
        </span>
      </div>
      <div class="form-group">
        <label class="control-label">{{lang 'seedbank::forms.pop_names'}}</label>
        <span class="cell">
          <input type="text" class="form-control" aria-describedby="helpBlock" placeholder="" name="pop_names" value="{{ pop_names }}" autocomplete="off">
          <span class="help-block"></span>
        </span>
      </div>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="color: black;">
        <div class="panel panel-default"><!-- Accordion Description -->
          <div class="panel-heading" role="tab" id="headingDescription">
            <h4 class="panel-title">
              <a style="color: black;" role="button" data-toggle="collapse" href="#description" aria-expanded="false" aria-controls="collapseDescription">
                {{lang 'seedbank::messages.description'}}
              </a>
            </h4>
          </div>
          <div id="description" class="panel-collapse collapse" data-parent="#accordion" role="tabpanel" aria-labelledby="headingDescription">
            <div class="panel-body">
              <div class="form-group">
                <span class="cell">
                  <textarea style="resize:none; overflow:hidden;" class="form-control" rows="8" autocomplete="off" placeholder="{{lang 'seedbank::messages.description'}}" name="description">{{description}}</textarea>
                </span>
              </div>
            </div>
          </div>
        </div><!-- END Accordion Description -->
        {{!--
        <div class="panel panel-default"><!-- Accordion Pictures -->
          <div class="panel-heading" role="tab" id="headingPictures">
            <h4 class="panel-title">
              <a style="color: black;" role="button" data-toggle="collapse" href="#pictures" aria-expanded="false" aria-controls="collapsePictures">
                {{lang 'seedbank::messages.pictures'}}
              </a>
            </h4>
          </div>
          <div id="pictures" class="panel-collapse collapse" data-parent="#accordion" role="tabpanel" aria-labelledby="headingPictures">
            <div class="panel-body">
            </div>
          </div>
        </div><!-- END Accordion Pictures -->
        <div class="panel panel-default"><!-- Accordion Farming -->
          <div class="panel-heading" role="tab" id="headingFarming">
            <h4 class="panel-title">
              <a style="color: black;" role="button" data-toggle="collapse" href="#farming" aria-expanded="false" aria-controls="collapseFarming">
                {{lang 'seedbank::messages.farming'}}
              </a>
            </h4>
          </div>
          <div id="farming" class="panel-collapse collapse" data-parent="#accordion" role="tabpanel" aria-labelledby="headingFarming">
            <div class="panel-body">

            </div>
          </div>
        </div><!-- END Accordion Farming -->
        <div class="panel panel-default"><!-- Accordion Characteristics -->
          <div class="panel-heading" role="tab" id="headingCharacteristics">
            <h4 class="panel-title">
              <a style="color: black;" role="button" data-toggle="collapse" href="#characteristics" aria-expanded="false" aria-controls="collapseCharacteristics">
                {{lang 'seedbank::messages.taxonomy'}}
              </a>
            </h4>
          </div>
          <div id="characteristics" class="panel-collapse collapse" data-parent="#accordion" role="tabpanel" aria-labelledby="headingCharacteristics">
            <div class="panel-body">

            </div>
          </div>
        </div><!-- END Accordion Characteristics -->
        <div class="panel panel-default"><!-- Accordion Notes -->
          <div class="panel-heading" role="tab" id="headingNotes">
            <h4 class="panel-title">
              <a style="color: black;" role="button" data-toggle="collapse" href="#notes" aria-expanded="true" aria-controls="collapseNotes">
                {{lang 'seedbank::forms.notes'}}
              </a>
            </h4>
          </div>
          <div id="notes" class="panel-collapse collapse" data-parent="#accordion" role="tabpanel" aria-labelledby="headingNotes">
            <div class="panel-body">
              <div class="row buttons">
              </div>
              <div class="row notes">
              </div>
            </div>
          </div>
        </div><!-- END Accordion Notes -->
        --}}
        <div class="panel panel-default"><!-- Accordion Uses -->
          <div class="panel-heading" role="tab" id="headingUses">
            <h4 class="panel-title">
              <a style="color: black;" role="button" data-toggle="collapse" href="#uses" aria-expanded="true" aria-controls="collapseUses">
                {{lang 'seedbank::forms.uses'}}
              </a>
            </h4>
          </div>
          <div id="uses" class="panel-collapse collapse" data-parent="#accordion" role="tabpanel" aria-labelledby="headingUses">
            <div class="panel-body">
              <div class="row buttons">
                <button type="button" class="btn btn-lg btn-default ">{{lang 'seedbank::buttons.newuse'}}</button>
              </div>
              <div class="row uses">
                <div class="row item" style="display:none;">
                  <input type="hidden" class="form-control" aria-describedby="helpBlock" placeholder="" value="" autocomplete="off">
                  <div class="form-group">
                    <label class="control-label">{{lang 'seedbank::forms.title'}}</label>
                    <span class="cell">
                      <input type="text" class="form-control" aria-describedby="helpBlock" placeholder="" value="" autocomplete="off">
                      <span class="help-block"></span>
                    </span>
                  </div>
                  <div class="form-group">
                    <select value="0" class="form-control">
                      {{#each ../categories}}
                      <option value="{{@index}}">{{this}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="form-group">
                    <span class="cell">
                      <textarea style="resize:none; overflow:hidden;" class="form-control" rows="8" autocomplete="off" placeholder="{{lang 'seedbank::messages.use'}}">{{description}}</textarea>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- END Accordion Uses -->
        <div class="panel panel-default"><!-- Accordion References -->
          <div class="panel-heading" role="tab" id="headingReferences">
            <h4 class="panel-title">
              <a style="color: black;" role="button" data-toggle="collapse" href="#references" aria-expanded="true" aria-controls="collapseReferences">
                {{lang 'seedbank::forms.references'}}
              </a>
            </h4>
          </div>
          <div id="references" class="panel-collapse collapse" data-parent="#accordion" role="tabpanel" aria-labelledby="headingReferences">
            <div class="panel-body">
              <div class="row buttons">
                <button type="button" class="btn btn-lg btn-default ">{{lang 'seedbank::buttons.newreference'}}</button>
              </div>
              <div class="row references">
                {{!--
                <div class="form-group">
                  <select name="use_category[]" value="0" class="form-control">
                    {{#each ../categories}}
                    <option value="{{@index}}">{{this}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="form-group">
                  <span class="cell">
                    <textarea style="resize:none; overflow:hidden;" class="form-control" rows="8" autocomplete="off" placeholder="{{lang 'seedbank::messages.use'}}" name="use[]">{{description}}</textarea>
                  </span>
                </div>
                --}}
              </div>
            </div>
          </div>
        </div><!-- END Accordion References -->
        {{/with}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group lmt">
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-danger btn-lg" id="cancel_seed">
          {{lang 'seedbank::messages.registercancel'}}
        </button>
        <button type="submit" class="btn btn-primary btn-lg">
          {{#if update}}{{lang 'seedbank::messages.updateseed'}}{{ else }}{{lang 'seedbank::messages.registerseed'}}{{/if}}
        </button>
      </div>
    </div>
  </div>
</form>
