<!-- div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">
      &times;
    </span>
  </button>
  <h1 class="modal-title">{{ modalTitle }}</h1>
</div -->
<div id="event-preview" class="col-md-8 col-md-offset-2"{{#unless preview }}  style="display: none;"{{/unless}}>
  <div class="row">
    <h1 data-name="title">!!Event preview!!</h1>
  </div>
  <div class="row">
    <p data-name="start"></p>
    <p data-name="end"></p>
  </div>
  <div class="row">
    <p data-name="location"></p>
    <p data-name="address"></p>
    <p data-name="postal"></p>
  </div>
  <div class="row">
    <p data-name="description"></p>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <!-- button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
        <span aria-hidden="true">
          {{ messages.cancel }}
        </span>
      </button -->
      <button type="button" class="btn btn-primary btn-lg">
        {{ messages.change }}
      </button>
    </div>
  </div>
</div>
<!-- form class="form-horizontal" role="form" method="POST" action="/admin/events/add">
  <div class="modal-body">
    <input type="hidden" name="_token" value="{{ csrfToken }}">
    <input type="hidden" name="event_id" value="{{ event.id }}">
    <div class="form-group row">
      <div class="col-md-4">
        <label class="control-label" rel="tooltip" data-placement="bottom" title="{{ messages.eventStartDateHelp }}">
          {{ messages.startdate }}
        </label>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control date" name="startdate" value="{{ event.startdate }}" autocomplete="off">
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control time" name="starttime" value="{{ event.starttime }}" autocomplete="off">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <label class="control-label" rel="tooltip" data-placement="bottom" title="{{ messages.eventEndDateHelp }}">
          {{ messages.enddate }}
        </label>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control date" name="enddate" value="{{ event.enddate }}" autocomplete="off">
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control time" name="endtime" value="{{ event.endtime }}" autocomplete="off">
      </div>
    </div>

    <div class="form-group" rel="tooltip" data-placement="bottom" title="{{ messages.eventCategoryHelp }}">
      <div class="col-md-3">
        <label class="control-label">{{ messages.category }}</label>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="{{ messages.category }}" name="category" value="{{ event.category }}" autocomplete="off">
      </div>
    </div>

    <div class="form-group" rel="tooltip" data-placement="bottom" title="{{ messages.eventTitleHelp }}">
      <div class="col-md-3">
        <label class="control-label">{{ messages.title }}</label>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="{{ messages.title }}" name="title" value="{{ event.title }}" autocomplete="off">
      </div>
    </div>

    <div class="form-group" rel="tooltip" data-placement="bottom" title="{{ messages.eventAddressHelp }}">
      <div class="col-md-3">
        <label class="control-label">{{ messages.address }}</label>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="{{ messages.address }}" name="address" value="{{ event.address }}" autocomplete="off">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-3">
        <label class="control-label" rel="tooltip" data-placement="bottom" title="{{ messages.locationHelp }}">
          {{ messages.location }}
        </label>
      </div>
      <input type="hidden" name="location" value="{{ event.location }}">
      <div class="col-md-4 ui-front">
        <input type="text" class="form-control district" placeholder="{{ messages.district }}" name="district" value="" autocomplete="off">
      </div>
      <div class="col-md-4 ui-front">
        <input type="text" class="form-control city" placeholder="{{ messages.city }}" disabled name="city" value="" autocomplete="off">
      </div>
    </div>

    <div class="form-group" rel="tooltip" data-placement="bottom" title="{{ messages.eventDescriptionHelp }}">
      <span class="cell">
        <textarea style="resize:none; overflow:hidden;" class="form-control" rows="5" autocomplete="off" placeholder="{{messages.description}}" name="description">{{ event.description }}</textarea>
      </span>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-group lmt">
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
          <span aria-hidden="true">
            {{ messages.cancel }}
          </span>
        </button>
        <button type="submit" class="btn btn-primary btn-lg">
          {{ messages.createEvent }}
        </button>
      </div>
    </div>
  </div>
</form -->
