<div id="sementeca-preview"{{#unless preview }}  style="display:none;"{{/unless}}>
  <div class="row">
    <h4>{{ messages.name }}:</h4>
    <p data-name="name">{{ sementeca.name }}</p>
  </div>
  <div class="row">
    <h4>{{ messages.contact }}: </h4>
    <p data-name="contact">{{ sementeca.contact }}</p>
  </div>
  <div class="row">
    <h4>{{ messages.address }}:</h4>
    <p data-name="address">{{ sementeca.address }}</p>
  </div>
  <div class="row">
    <h4>{{ messages.address }}:</h4>
    <p data-name="description">{{ sementeca.description }}</p>
  </div>
</div>
