<form class="form-horizontal" role="form" method="POST" action="/messages/{{ thread.id }}">
    <input type="hidden" name="_token" value="{{ csrfToken }}">
    <div class="row">
      <div class="col-md-12">
        <p>{{ messages.messageParticipating }}:
        {{#each users}}
        <span class="badge">{{name}}</span>
        {{/each}}
        </p>
      </div>
    </div>
    <div class="row">
      {{#each tmessages}}
      {{!-- <div class="row"> --}}
        <div class="col-md-12">
          <p>{{ attributes.username }}</p>
          <pre style="white-space: pre-wrap;">{{ attributes.body }}</pre>
        </div>
        {{!-- </div> --}}
      {{/each}}
    </div>
    <div class="row">


      <div class="form-group" rel="tooltip" data-placement="bottom" title="{{ messages.messageBodyHelp }}">
        <span class="cell">
          <textarea style="resize:none; overflow:hidden;" class="form-control" rows="5" autocomplete="off" placeholder="{{messages.messageBody}}" name="body">{{{ message.body }}}</textarea>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group lmt">
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">
          <span aria-hidden="true">
            {{ messages.cancel }}
          </span>
        </button>
        <button type="submit" class="btn btn-primary btn-lg">
          {{ messages.messageSend }}
        </button>
      </div>
    </div>
  </div>
</form>
