{{> mainapp_start}}
<div class="modal fade" id="sementeca">
  <div class="modal-dialog">
    <div class="modal-content">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <div class="row">
      <div class="col-md-8">
      <h1>O MEU BANCO DE SEMENTES</h1>
      </div>
      <div class="col-md-4">
        <button class="btn btn-error" type="button">Remover Semente</button>
        <button class="btn btn-warning" type="button">Cria</button>
        <button class="btn btn-success" type="button">Nova Semente</button>
      </div>

    </div>
    <div class="row">
      <table style="width: 100%">
        <thead>
          <tr>
            <th width="100px"></th>
            <th>NOME,<br>FAMILIA</th>
            <th>ONDE E <br>QUANDO</th>
            <th>MÉTODO E <br> RECOLHA</th>
            <th>DISPONÍVEL <br> PARA TROCA</th>
          </tr>
        </thead>
        <tbody>
          {{#each paginated.data}}
          <tr data-seed_id={{id}}>
            <td><img style="width: 100px" src="/images/planteieulogocinza.png" alt=""></td>
            <td>
              <p style="font-weight: bold; font-size:14px;">{{common_name}}</p>
              <p style="font-style: oblique;">{{latin_name}}</p>
              <p style="font-style: oblique;">Família: {{family.name}}</p>
            </td>
            <td><p>{{local}}</p>{{year}}<p></p></td>
            <td>ḿetodo</td>
            <td>Não</td>
          </tr>
          {{else}}
          <tr>
            No Content
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{> paginator}}
    </div>

    {{> mainapp_end}}
<script>
$('#seeds tr').on('click', function () {
  //window.open('/seedbank/register/' + $(this).data('seed_id'), '_self');
  var seed_id = $(this).data('seed_id');
  $.get("/seedbank/seedm/" + seed_id, function (data) {
    if (data.length == 0){
      return false;
    }
    $('#info_modal .modal-content').empty();
    $('#info_modal .modal-content').append(data);

    $('#info_modal').modal('show');
  });
}).mouseover(function () {
  $(this).addClass('active');
}).mouseout(function () {
  $(this).removeClass('active');
});

$('#info_modal').on('click', '.modal-footer .footer-left button', function(){
  var seed_id = $('#info_modal .modal-title').data("seed_id");
  window.open('/seedbank/register/' + seed_id, '_self');
});

$('.listEvents').on('click', 'li', function (e) {
  $.get('/events/get/' + $(this).data('id'), function (data) {
    if (! data ) { return false;}
    $(".modal-content").html(data);
    $('#info_modal').modal('show');
  });
});

$('#messages tr').on('click', function () {
    $('#info_modal .modal-content').html('<img src="/js/tinymce/skins/lightgray/img/loader.gif"/>');
    $('#info_modal').modal('show');
    var threadId = $(this).data('thread_id');
    $.get('/messages/' + threadId, function (data) {
      $('#info_modal .modal-content').html(data);
    });
  }).mouseover(function () {
    $(this).addClass('active');
  }).mouseout( function () {
    $(this).removeClass('active');
  });

/*$('#new_seed').on('click', function () {
  window.open('/seedbank/register', '_self');
  return false;
  });
 */
</script>
{{>footer}}
