<h1>
  {{ messages.myseeds }}
  <span class="cell btn-group">
    <button type="button" class="btn btn-primary btn-md" id="new_seed">
      {{messages.add_new_seed}}
    </button>
  </span>
</h1>
<div class="row">
  <div class="col-md-12">
    <table class="table" id="mySeeds">
      <thead>
        <tr>
          <th>{{messages.common_name}}</th>
          <th>{{messages.latin_name}}</th>
          <th>{{messages.available}}</th>
          <th>{{messages.public}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each seeds.data}}
        <tr data-seed_id="{{id}}">
          <td>{{common_name}}</td>
          <td>{{latin_name}}</td>
          <td style="text-align: center;">{{#if available}}X{{/if}}</td>
          <td style="text-align: center;">{{#if public}}X{{/if}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <nav>
    <ul class="pager">
      {{#if seeds.next_page_url}}
      <li class="next">
        <a style="color: black !important;" type="button" data-url="{{seeds.next_page_url}}" class="btn btn-primary btn-md" id="next_seeds">
          {{{pagination.next}}}
        </a>
      </li>
      {{/if}}
    </ul>
  </nav>
</div>
