{{> header}}
{{> menu}}
<div class="pageWrap background-primary">
  <div class="container">
      <div class="col-md-6 text-center">
        <h1>Trocas pendentes</h1>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="color: black;">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSent">
              <h4 class="panel-title">
                <a style="color: black;" role="button" data-toggle="collapse" href="#transactionsSent" aria-expanded="true" aria-controls="collapseSent">
                  {{messages.sent_requests}}
                </a>
              </h4>
            </div>
            {{#if transactionsBy}}
            <div id="transactionsSent" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSent">
              <div class="panel-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>{{../messages.common_name}}</th>
                          <th>{{../messages.date}}</th>
                          <th>{{../messages.location}}</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                      {{#each transactionsBy}}
                        <tr data-seed_id="{{id}}">
                          <td>{{common_name}}</td>
                          <td>{{updated_at}}</td>
                          <td>{{place_name}}</td>
                          <td><button type="button" class="btn btn-sm btn-primary">{{../messages.message}}</button></td>
                          <td>
                          {{#if accepted.0}}
                            <button type="button" class="btn btn-sm btn-danger">{{../../messages.cancelled}}</button>
                          {{/if}}
                          {{#if accepted.1}}
                            <button type="button" class="btn btn-sm btn-success">{{../../messages.confirm}}</button>
                          {{/if}}
                          {{#if accepted.2}}
                            <button type="button" class="btn btn-sm btn-warning">{{../../messages.pending}}</button>
                          {{/if}}
                          </td>
                        </tr>
                      {{/each}}
                      </tbody>
                    </table>
              </div>
            </div>
            {{/if}}
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingReceived">
              <h4 class="panel-title">
                <a  style="color: black;" class="collapsed" role="button" data-toggle="collapse" href="#transactionsReceived" aria-expanded="false" aria-controls="transactionsReceived">
                  {{messages.received_requests}}
                </a>
              </h4>
            </div>
            {{#unless transactionsTo.empty}}
            <div id="transactionsReceived" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingReceived">
              <div class="panel-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>{{messages.common_name}}</th>
                          <th>{{messages.date}}</th>
                          <th>{{messages.location}}</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                      {{#each transactionsTo}}
                        <tr data-seed_id="{{id}}">
                          <td>{{common_name}}</td>
                          <td>{{updated_at}}</td>
                          <td>{{place_name}}</td>
                          <td><button type="button" class="btn btn-sm btn-primary">{{../messages.message}}</button></td>
                          <td>
                            {{#if accepted.0}}
                            <button type="button" class="btn btn-sm btn-danger">{{../../messages.cancelled}}</button>
                            {{/if}}
                            {{#if accepted.1}}
                            <button type="button" class="btn btn-sm btn-success">{{../../messages.accepted}}</button>
                            {{/if}}
                            {{#if accepted.2}}
                            <button type="button" class="btn btn-sm btn-warning">{{../../messages.confirmed}}</button>
                            {{/if}}
                            </td>
                        </tr>
                      {{/each}}
                      </tbody>
                    </table>
              </div>
            </div>
            {{/unless}}
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <h1>As minhas sementes
        <span class="cell btn-group">
          <button type="button" class="btn btn-primary btn-md" id="new_seed">
            {{messages.add_new_seed}}
          </button>
        </span></h1>
        <div class="btn-group">
        </div>
        <div class="row">
            <div class="col-md-12">
            <table class="table" id="mySeeds">
              <thead>
                <tr>
                  <th>{{messages.common_name}}</th>
                  <th>{{messages.latin_name}}</th>
                  <th>{{messages.available}}</th>
                  <th>{{messages.public}}</th>
                </tr>
              </thead>
              <tbody>
              {{#each seeds}}
                <tr data-seed_id="{{id}}">
                  <td>{{common_name}}</td>
                  <td>{{latin_name}}</td>
                  <td style="text-align: center;">{{#if available.1}}X{{/if}}</td>
                  <td style="text-align: center;">{{#if public.1}}X{{/if}}</td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>

{{>scripts}}
<script>
  $('#mySeeds tbody tr').on('click', function () {
  window.open('/seedbank/register/' + $(this).data('seed_id'), '_self');
    return false;
    }).mouseover(function () {
    $(this).addClass('active');
    }).mouseout(function () {
    $(this).removeClass('active');
  });
  $('#new_seed').on('click', function () {
    window.open('/seedbank/register', '_self');
  return false;
  });
</script>
{{>footer}}
