{{> mainapp_start}}
    <div class="row">
      <div class="col-md-6">
        <h1>O MEU BANCO DE SEMENTES</h1>
      </div>
      <div class="col-md-6">
        <ul class="buttons">
          <li><a class="iconified exchanges pt" href="#"></a></li>
          <li><a class="iconified searchseed pt" href="#"></a></li>
          <li><a class="iconified delseed pt" href="#"></a></li>
          <li><a id="newseed" class="iconified newseed pt" href="#"></a></li>
        </ul>
      </div>
    </div>
    <div class="row search">
      <input type="text" name="searchseed" value="">
    </div>
    <div class="row content seeds">
      <table class="table" style="width: 100%">
        <thead>
          <tr>
            <th width="100px"></th>
            <th>NOME,<br>FAMILIA</th>
            <th>ONDE E <br>QUANDO</th>
            <th>MÉTODO E <br> RECOLHA</th>
            <th>DISPONÍVEL <br> PARA TROCA</th>
          </tr>
        </thead>
        <tbody>
          {{#each paginated.data}}
          <tr data-seed_id={{id}}>
            <td><img style="width: 100px" src="{{#if pictures}}{{pictures.0.url}}{{else}}/images/planteieulogocinza.png{{/if}}" alt=""></td>
            <td>
              <p style="font-weight: bold; font-size:14px;">{{common_name}}</p>
              <p style="font-style: oblique;">{{latin_name}}</p>
              <p style="font-style: oblique;">Família: {{family.name}}</p>
            </td>
            <td><p>{{local}}</p>{{year}}<p></p></td>
            <td>ḿetodo</td>
            <td>Não</td>
          </tr>
          {{else}}
          <tr>
            No Content
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{> paginator}}
    </div>

    {{> mainapp_end}}
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="/js/load-image.all.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="/js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="/js/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="/js/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="/js/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="/js/jquery.fileupload-validate.js"></script>
    <script src="/js/tinymce/tinymce.min.js"></script>
    <script src="/js/utils.js"></script>
    <!-- script type="text/javascript" src="/js/registerseed.js"></script -->
    <script type="text/javascript" src="/js/myseeds.js"></script>
<script>
{{#if modal }}
$("#modal").modal('show');
{{/if}}

function validateInput(input) {
  if (input.value == input.defaultValue) {
      alert("Please change field.");
      return false;
  }
  return true;
}

$('form').submit( function (e) {
  console.log('validating');
  // TODO: show changed fields
});

$('#files').on('click', 'button.delete', function(){
  var file = $(this).data(),
  that = this;
  $.getJSON(file.deleteUrl, function (data){
    if (data.files[0][file.md5sum]){
      that.closest('.col-md-4').remove();
    }
  });
  $.each($('#files').children('.col-md-4').not('.processing'), function (index, elem){
    if (! $(elem).find('img').length) {
      $(elem).closest('.col-md-4').remove();
    }
  });
});



/*$('#seeds tr').on('click', function () {
  //window.open('/seedbank/register/' + $(this).data('seed_id'), '_self');
  var seed_id = $(this).data('seed_id');
  $.get("/seedbank/seedm/" + seed_id, function (data) {
    if (data.length == 0){
      return false;
    }
    $('#modal .modal-content').empty();
    $('#modal .modal-content').append(data);

    $('#modal').modal('show');
  });
}).mouseover(function () {
  $(this).addClass('active');
}).mouseout(function () {
  $(this).removeClass('active');
});*/

$('#modal').on('click', '.modal-footer .footer-left button', function(){
  var seed_id = $('#modal .modal-title').data("seed_id");
  window.open('/seedbank/register/' + seed_id, '_self');
});

$('.listEvents').on('click', 'li', function (e) {
  $.get('/events/get/' + $(this).data('id'), function (data) {
    if (! data ) { return false;}
    $(".modal-content").html(data);
    $('#modal').modal('show');
  });
});

$('#messages tr').on('click', function () {
    $('#modal .modal-content').html(
      '<img src="/js/tinymce/skins/lightgray/img/loader.gif"/>'
    );
    $('#modal').modal('show');
    var threadId = $(this).data('thread_id');
    $.get('/messages/' + threadId, function (data) {
      $('#modal .modal-content').html(data);
    });
  }).mouseover(function () {
    $(this).addClass('active');
  }).mouseout( function () {
    $(this).removeClass('active');
  });

/*$('#newseed').on('click', function () {
  $.get('/seedbank/register', function (data) {
    $('#modal .modal-content').html(data);
    $('#modal').modal('show');
    $('#modal').on('click', '#cancel_seed', function(e){
      $('#modal .modal-content').empty();
      $('#modal').modal('hide');
    })
    initRegisterSeed();
  });
  return false;
});*/
</script>
{{>footer}}
