{{> header}}
{{> menu}}
<div class="modal fade" id="seed_info">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
	    <div class="row">
		  <div class="col-md-12 body-read"></div>
		</div>
	    <div class="row">
		  <div class="col-md-10 col-md-offset-1 body-form" style="border: solid; display: none;">
		  </div>
		</div>
      </div>
      <div class="modal-footer">
	    <div class="col-md-4 footer-left">
		</div>
	    <div class="col-md-8 footer-right">
		</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="pageWrap background-primary">
	<div class="container">
		<div class="row lmt">
			{{> formErrors}}
			<div class="col-md-12 text-center">
				<h1>Pesquisa</h1>
				<form class="form-horizontal" role="form" method="POST" action="/seedbank/search">
					<input type="hidden" name="_token" value="{{ csrfToken }}">
					<div class="form-group">
						<span class="cell">
						<input type="text" class="form-control search_autocomplete" placeholder="{{messages.common_name}}" name="common_name" value="" autocomplete="off">
						</span>
					</div>
					<div class="form-group">
						<span class="cell">
						<input type="text" class="form-control search_autocomplete" placeholder="{{messages.latin_name}}" name="latin_name" value="" autocomplete="off">
						</span>
					</div>
					<div class="form-group lmt">
							<button id="search" type="submit" class="btn btn-primary btn-lg">
								Pesquisa
							</button>
					</div>
				</form>
			</div>
			<div class="col-md-12 text-center" id="results" style="display: none;">
			  <div class="col-md-4 results_general">
				<table class="table">
					<thead>
						<tr>
							<th>{{messages.common_name}}</th>
							<th>{{messages.latin_name}}</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			  </div>
			  <div class="col-md-8 results_detail">
				<h3>Escolhe as sementes de <span class="label label-default">Maria</span></h3>
				<table class="table">
					<thead>
						<tr>
							<th>{{messages.common_name}}</th>
							<th>{{messages.latin_name}}</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			  </div>
			</div>
		</div>
	</div>
</div>
{{>scripts}}
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/laravel-bootstrap-modal-form.js"></script>
<script>
/*$('.search_autocomplete').autocomplete({
  delay: 300, minLength: 2, 
  source: function (request, response) {
    var formdata = [
      {name: "_token", value: "{{ csrfToken }}"},
      {name: 'query' , value: request.term},
	  {name: 'query_name', value: this.element.attr('name')},
    ];
    $.post("/seedbank/autocomplete", formdata, 
           function (data) {  response(data);}, 'json')
    },
  select: function( event, ui ) {
    //console.log(ui.item.id);
    $('#hidden_section_id').val(ui.item.id)
  }
});
*/

var show_user_seeds = function(container, user_id) {
    $('.results_general').find('tbody tr').removeClass('active');
    $.get("/seedbank/user_seeds/" + user_id, function (data) {
		if (! data.seeds){
			return false;
		}
		$('.results_detail tbody').empty();
		$('.results_detail h3 span').text(data.user.name);
		$.each(data.seeds, function (i, info){
			  console.log(info);
			$('.results_detail tbody').append('<tr data-seed_id="' + info.id + '"><td>' + info.common_name + '</td></tr>');
			if ( info.exchange_id) {
			  if (( info.accepted == true) && (info.completed == null)) {
			      $('.results_detail tbody tr:last').append('<td>À espera de confirmação</td>');
				} else if (( info.accepted == null) && (info.completed == null)){
			      $('.results_detail tbody tr:last').append('<td>À espera de resposta</td>');
				} else if ( info.accepted == false){
			      $('.results_detail tbody tr:last').append('<td>Recusada</td>');
				} else if ( info.completed == false) {
			      $('.results_detail tbody tr:last').append('<td>Cancelada</td>');
				}
			} else {
			  $('.results_detail tbody tr:last').append('<td></td>');
			}
        });
	},
	'json');
	$(container).addClass('active');
};

$(".container form").on('submit', function(){
	$('#results tbody').empty();
	if ( $('#results').is(':visible')) {
		$('#results').hide();
		$('.search_autocomplete').show();
		$('#search').text('Pesquisa');
		return false;
	};
    var formdata = $('form').serialize();
	$.post("/seedbank/search", formdata, function (data) {
	    //console.log(data);
		if (! data){
			return false;
		}
		$.each( data, function(i,info){
			$('.results_general tbody').append('<tr data-user_id="' + info.user_id + '" data-seed_id="' + info.id + '">\
			  <td>' + info.common_name + '</td>\
			  <td>' + info.latin_name + '</td</tr>');
			if ( i == 0 ){
			   show_user_seeds($('.results_general tbody tr'), info.user_id);
			   }
			$('#results').show();
			$('.search_autocomplete').hide();
			$('#search').text('Nova Pesquisa');
		});
	},
	'json');
	return false;
});

$('.results_general').on('click', 'tbody tr', function () {
	show_user_seeds(this, $(this).data('user_id'));
});

$('.results_detail').on('click', 'tbody tr', function () {
	var seed_id = $(this).data('seed_id');
    $.get("/seedbank/seed/" + seed_id, function (data) {
		if (! data){
			return false;
		}
		$('#seed_info .modal-title').text('[' + data.id + '] ' + data.common_name).data("seed_id", data.id);
		$('#seed_info .modal-body .body-read').html('<p><em>' + data.latin_name + '</em></p>\n<p>' + data.description + '</p>');
		$('#seed_info .modal-footer .footer-right').html('<p><em>' + data.latin_name + '</em></p>\n\
			<p><b>Família:</b> ' + data.family.name + '</p>' + '\n\
			<p><b>Espécie:</b> ' + data.species.name + '</p>' + '\n\
			<p><b>Variedade:</b> ' + data.variety.name + '</p>' + '\n'
			);
		$('#seed_info .modal-footer .footer-left')
		    .html('<button class="btn btn-default col-md-12" style="height: 50px;">\
			  {{messages.sendmessage}}Manda Mensagem</button>');

		$('#seed_info').modal('show');
		},
		'json');
});
/*.on('mouseover', 'tbody tr', function () {
	$(this).addClass('active');
}).on('mouseout', 'tbody tr', function () {
    $(this).removeClass('active');
});*/
$('#seed_info .modal-footer .footer-left').on('click', 'button', function(){
  $('#seed_info .modal-body .body-form').html('\
    <form class="form-horizontal bootstrap-modal-form" method="POST" action="/seedbank/message/send">\
	  <input type="hidden" name="seed_id" value="' + $(".modal-title").data('seed_id') + '"/>\
	  <div class="form-group">\
	    <span class="cell">\
		  <input class="form-control" placeholder="{{messages.subject}}Assunto" type="text" name="subject"/>\
		</span>\
	  </div>\
	  <div class="form-group">\
	    <span class="cell">\
	      <textarea style="resize:none; overflow:hidden;" class="form-control" rows="8" autocomplete="off" placeholder="{{messages.writemessage}}"Escreve uma mensagem" name="body"></textarea>\
		</span>\
	  </div>\
      <div class="form-group lmt">\
        <div class="col-md-12 text-center">\
            <button type="button" class="btn btn-danger btn-md" id="cancel">\
              Cancelar\
            </button>\
            <button type="submit" class="btn btn-primary btn-md">\
              Enviar\
            </button>\
        </div>\
      </div>\
	</form>');
  $('.body-form').show();
  });
$('.body-form').on('click', '#cancel', function(){
  $('.body-form').empty().hide();
  });
</script>
{{>footer}}
