{{> header}}
<div class="pageWrap container">
  <div class="jumbotron background-primary">
    <div class="row lang">
      <div class="pull-right">
        <ul class="list-unstyled list-inline inline-block">
          <li>
          {{#if lang.pt}}
          <span class="text-muted">pt</span>
          {{else}}
          <a href="/pt/auth/login">pt</a>
          {{/if}}
          </li>
          <li>
          {{#if lang.en}}
            <span class="text-muted">en</span>
          {{else}}
            <a href="/en/auth/login">en</a>
          {{/if}}
          </li>
        </ul>
      </div>
    </div>
	<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>{{messages.login}}</h2>
        {{> formErrors}}
        <form class="form-horizontal" role="form" method="POST" action="/{{langString}}/auth/login">
          <input type="hidden" name="_token" value="{{ csrfToken }}">
          <div class="form-group">
            <label class="control-label">{{ messages.username }}</label>
            <span class="cell"><input type="text" class="form-control" placeholder="{{mesages.username}}" name="nameoremail" value="{{ oldInput.name }}" autocomplete="off"></span>
          </div>
          <div class="form-group">
            <label class="control-label">{{messages.password}}</label>
            <span class="cell"><input type="password" class="form-control" placeholder="{{messages.password}}" name="password"></span>
          </div>
          <div class="row">
            <div class="form-group lmt">
              <div class="col-md-12 text-center">
                <a href="/{{ langString }}" class="btn btn-danger btn-lg">
                  {{messages.cancel}}
                </a>
                <button type="submit" class="btn btn-primary btn-lg">
                  {{messages.login}}
                </button>
              </div>
            </div>
          </div>
          <!-- <div class="form-group lmt">
            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-primary btn-lg">
                {{messages.login}}
              </button>
            </div>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>
{{> scripts}}
{{>footer}}
